<!DOCTYPE html>
<html>
  <head>
    <title>Customer Support</title>
    <link rel="stylesheet" type="text/css" href="/public/css/support.css">
  </head>
  <body>
    <header>
      <h1>Customer Support</h1>
    </header>
    
    <main>      
      <section id="contact">
        <h2>Contact Us</h2>
        <form action="submit-form.php" method="post">
          <input type="text" id="name" name="name"  placeholder="Enter your name"required>
          
          <input type="email" id="email" name="email" placeholder="Enter your email" required>
          
          <textarea id="message" name="message"  placeholder="Enter your message"required></textarea>
          
          <input type="submit" value="Send">
        </form>
      </section>
    </main>
    
  </body>
</html>
